<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.um.fsktm.unihelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity android:name=".ui.course.activities.CourseRatingActivity"/>
        <activity android:name=".ui.course.activities.CourseRatingFormActivity"/>
        <activity android:name=".ui.course.activities.CourseGroupsActivity"/>
        <activity android:name=".ui.course.activities.CourseDescriptionActivity"/>
        <activity android:name=".ui.course.activities.CourseDetailsActivity"/>
        <activity android:name=".ui.course.activities.CourseInstructorsActivity"/>
        <activity android:name=".ui.reservation.activities.RoomDetailActivity"></activity>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>